# Extra Material (Optional)

## Python Function

### Understanding Function
- Selama dua minggu ini, kita menggunakan *function* dan *method* yang kita dapatkan dari "library"/"package" `pandas`. Namun, **sebenarnya apakah "library" itu?**<br><br>
    - Jika Anda mendengar kata "library" atau "perpustakaan", Anda mungkin akan membayangkan sebuah tempat yang berisi kumpulan pustaka/buku. Nah, idenya kurang lebih sama. Ketika kita meng-*install* sebuah library, sebenarnya kita sedang menginstall sekumpulan pustaka. Bedanya, "pustaka" pada package konteksnya adalah sekumpulan *function*/*method* yang nantinya dapat kita gunakan untuk mempermudah kebutuhan kita.<br><br>
       
- Lalu bagaimana *function* tersebut bisa ada? Dengan dibuat terlebih dahulu oleh si pembuat package! Jadi, sebenarnya Anda pun bisa membuat *function* Anda sendiri. Nah, Anda mungkin sekarang mulai penasaran untuk membuat *function* Anda sendiri, tapi sebelum sampai sana, mari kita bahas terlebih dahulu, **Sebenarnya apakah "function" itu?**<br><br>
    - Dalam konteks *programming*, *function* adalah serangkaian perintah untuk melakukan proses komputasi. Saat Anda membuat sebuah *function*, Anda perlu membuat nama *function* dan perintah yang Anda inginkan. Nantinya, Anda dapat "memanggil" atau menggunakan function tersebut dengan nama *function* yang Anda buat.
    
    - Mari kita coba bedah salah satu function built-in dari python:

In [1]:
type(32)

int

   - `type`: adalah nama functionnya
   - Apa yang Anda isi di dalam kurung `()` disebut dengan argumen.
   - Function "menerima" argumen dan "mengembalikan" sebuah output. Output dari function bisa kita sebut sebagai *return value*.

###  Creating Function in python

- Katakanlah kita memiliki data suhu ruangan sebagai berikut:

In [6]:
import pandas as pd

df = pd.DataFrame({
    'date':['Jan-01','Jan-02','Jan-03','Jan-04'],
    'fahr_room1': [100,101,90,80],
    'fahr_room2': [110,103,92,80]})
df

     date  fahr_room1  fahr_room2
0  Jan-01         100         110
1  Jan-02         101         103
2  Jan-03          90          92
3  Jan-04          80          80

- Misalkan kita perlu mengkonversi setiap suhu ruangan menjadi celsius:

In [7]:
(df['fahr_room1'] - 32) * (5/9)

0    37.777778
1    38.333333
2    32.222222
3    26.666667
Name: fahr_room1, dtype: float64

- Bayangkan jika Anda punya data ruangan yang sangat banyak! Akan sangat menyulitkan jika Anda perlu menuliskan formula tersebut berulang-ulang bukan? Solusinya, Anda dapat membuat *function* yang dapat mempermudah pekerjaan Anda.

- Nah, sekarang, mari kita coba untuk membuat function kita sendiri. Untuk membuat function di python, kita dapat menggunakan keyword `def`:
     - Syntax dasar dari `def`:
     ```py
     def FUN_NAME(PARAM):
         PROCESS
         return OUTPUT
     ```
         - `FUN_NAME`: Nama function yang ingin kita buat
         - `PARAM`: Parameter dari output yang diinginkan
         - `PROCESS`: Apa yang function tersebut akan lakukan
         - `RETURN`: Apa yang function tersebut akan hasilkan

In [8]:
# contoh 1: ingin membuat fungsi yang dapat mengkonversi satuan suhu Fahrenheit ke Celcius
def fahr_to_celsius(temp):
    temp = (temp - 32) * (5/9)
    return temp

In [9]:
# menggunakan function yang dibuat ke dalam dataframe

#cara1: fahr_to_celsius(df[['fahr_room1', 'fahr_room2']]) 
#cara2: fahr_to_celsius(df.iloc[:, 1:]) 

#cara3:
df.iloc[:, 1:].apply(fahr_to_celsius)

   fahr_room1  fahr_room2
0   37.777778   43.333333
1   38.333333   39.444444
2   32.222222   33.333333
3   26.666667   26.666667

- Untuk membuat *function* menggunakan `def`, syarat mutlaknya, kita harus menentukan nama *function* dan membuatnya sesuai struktur diatas.


- Tujuan menamakan *function* disini, sekali lagi, supaya Anda dapat menggunakan *function* tersebut berulang-ulang.


- Namun, terkadang kebutuhan kita tidak perlu sampai "semegah" itu. Kita hanya memerlukan *function* sekali pakai! Anda bisa bayangkan penggunaannya seperti saat Anda menggunakan masker. Jika Anda memiliki masker kain, Anda dapat terus menyimpan masker tersebut untuk Anda gunakan berulang-ulang. Sementara dengan masker sekali pakai, Anda hanya dapat menggunakannya sekali dan harus membuang masker tersebut setelahnya. 


- Sama halnya dengan masker, Anda juga dapat membuat *function* "sekali pakai" dengan menggunakan kombinasi `apply` dan `lambda`.


- `lambda` sering disebut *anonymous function* karena Anda tidak perlu menentukan nama *function* saat penggunaannya. Pembuatannya pun lebih sederhana.


- Sementara itu, `apply` digunakan supaya kita bisa "menempelkan" *function* yang sudah kita buat dengan lambda ke DataFrame kita.

In [10]:
df.iloc[:, 1:].apply(fahr_to_celsius)

   fahr_room1  fahr_room2
0   37.777778   43.333333
1   38.333333   39.444444
2   32.222222   33.333333
3   26.666667   26.666667

In [11]:
df.iloc[:, 1:].apply(lambda x: (x - 32) * (5/9))

   fahr_room1  fahr_room2
0   37.777778   43.333333
1   38.333333   39.444444
2   32.222222   33.333333
3   26.666667   26.666667

### Challenge 1

- Isilah kerangka berikut (`____`) untuk membuat sebuah *function* yang dapat memberitahu umur anda dalam satuan hari berdasarkan tanggal lahir seperti berikut:

![](assets/challenge1.png)

In [12]:
def days_old(year, month, day):
    import datetime as dt
  
    today = dt.date.today()
    born_date = dt.date(year, month, day)
    
    x = (today-born_date).days
    
    print(f"You're {x} days old!")

In [13]:
# use the function
days_old(year = 1993, month = 1, day = 24)

You're 10253 days old!

---

*Reference Answer*:

```py
def days_old(year, month, day):
    import datetime
  
    today = datetime.date.today()
    born_date = datetime.date(year, month, day)
    
    print(f"You're {(today - born_date).days} days old!")
    
days_old(1993,1,24)
```

## Conditional Value

### `def` with if condition

- Perhatikan data review dari sebuah e-commerce berikut:

In [14]:
import pandas as pd

reviews = pd.read_csv('data_input/clothing_reviews.csv', parse_dates=['review_date'])
reviews['review_hour'] = reviews['review_date'].dt.hour
reviews = reviews[['review_date','review_hour', 'review_text']]

reviews.head()

,review_date,review_hour,review_text
0,2017-03-30 06:00:00,6,Absolutely wonderful - silky and sexy and comf...
1,2017-03-10 22:00:00,22,Love this dress! it's sooo pretty. i happene...
2,2017-03-04 10:00:00,10,I had such high hopes for this dress and reall...
3,2017-03-03 14:00:00,14,"I love, love, love this jumpsuit. it's fun, fl..."
4,2017-12-14 06:00:00,6,This shirt is very flattering to all due to th...

- Katakanlah, kita ingin mengelompokan jam review customer menjadi beberapa kelompok waktu. Pada proses analisis data, pengelompokan seperti ini adalah *task* yang sering kali ditemukan. Karena bisa dibilang, sering kali kebutuhan analisis itu untuk menggenalisir data, supaya pola yang bisa kita tangkap menjadi lebih bermakna.


- Salah satu cara yang bisa kita lakukan adalah dengan membuat *function* yang dapat memberikan *return value* berdasarkan kondisi tertentu:

<img src="assets/ifelse.png" style="float: left;" width="450"/>

- Untuk menggabungkan kegunaan *function* dan *if else condition*:
  ```py
  def FUN_NAME(PARAM):
      if CONDITION1:
          return OUTPUT_FOR_CONDITION1
      elif CONDITION2:
          return OUTPUT_FOR_CONDITION2
      else:
          return OUTPUT
  ```
     - `FUN_NAME`: Nama function yang ingin kita buat
     - `PARAM`: Parameter dari output yang diinginkan
     <br><br>
     - `CONDITION1`: Kondisi (pertama) yang harus dipenuhi
     - `OUTPUT_FOR_CONDITION1`: Output jika kondisi pertama terpenuhi
     - `CONDITION2`: Kondisi (kedua) yang harus dipenuhi
     - `OUTPUT_FOR_CONDITION1`: Output jika kondisi kedua terpenuhi
     - `OUTPUT`: Output jika kedua kondisi tidak terpenuhi

In [15]:
# create function for transforming value based on condition
def hour_grouping(x):
    if x >= 6 and x <= 12:
        return "12am to 7am"
    elif x >= 8 and x <= 15:
        return "8am to 3pm"
    else:
        return "4pm and 11pm"

# apply function to create new column
reviews['review_hour_group'] = reviews['review_hour'].apply(hour_grouping)

reviews.head()

,review_date,review_hour,review_text,review_hour_group
0,2017-03-30 06:00:00,6,Absolutely wonderful - silky and sexy and comf...,12am to 7am
1,2017-03-10 22:00:00,22,Love this dress! it's sooo pretty. i happene...,4pm and 11pm
2,2017-03-04 10:00:00,10,I had such high hopes for this dress and reall...,12am to 7am
3,2017-03-03 14:00:00,14,"I love, love, love this jumpsuit. it's fun, fl...",8am to 3pm
4,2017-12-14 06:00:00,6,This shirt is very flattering to all due to th...,12am to 7am

- Anda pun bisa menyesuaikan jumlah kondisi sesuai dengan kebutuhan Anda!

In [16]:
def hour_grouping2(x):
    if x >= 1 and x <= 5:
        return "Late Night"
    elif x >= 6 and x <= 11:
        return "Morning"
    elif x >= 12 and x <= 17:
        return "Afternoon"
    else:
        return "Night"

# apply function to create new column
reviews['review_hour_group2'] = reviews['review_hour'].apply(hour_grouping2)

reviews.head()

,review_date,review_hour,review_text,review_hour_group,review_hour_group2
0,2017-03-30 06:00:00,6,Absolutely wonderful - silky and sexy and comf...,12am to 7am,Morning
1,2017-03-10 22:00:00,22,Love this dress! it's sooo pretty. i happene...,4pm and 11pm,Night
2,2017-03-04 10:00:00,10,I had such high hopes for this dress and reall...,12am to 7am,Morning
3,2017-03-03 14:00:00,14,"I love, love, love this jumpsuit. it's fun, fl...",8am to 3pm,Afternoon
4,2017-12-14 06:00:00,6,This shirt is very flattering to all due to th...,12am to 7am,Morning

### `lambda` with if condition

- Sama halnya dengan tujuan pembuatan *function*, terkadang Anda hanya perlu membuat kondisi sederhana.

- Contoh; ingin mengelompokan hari review berdasarkan "Weekend" dan "Weekday":

In [17]:
def day_grouping(x):
    if x in ['Saturday', 'Sunday']:
        return "Weekend"
    else:
        return "Weekday"

reviews['review_day'] = reviews['review_date'].dt.day_name()
reviews['review_day'].apply(day_grouping)

0        Weekday
1        Weekday
2        Weekend
3        Weekday
4        Weekday
          ...
23481    Weekend
23482    Weekend
23483    Weekend
23484    Weekend
23485    Weekend
Name: review_day, Length: 23486, dtype: object

- Maka, cara yang lebih sederhana adalah dengan menggunakan `lambda`:  
```py
lambda x: OUTPUT_IF_CONDITION_MET if CONDITION1 else OUTPUT_IF_COND_NOT_MET
```

In [18]:
reviews['review_day'].apply(lambda x: "Weekend" if x in ['Saturday', 'Sunday'] else 'Weekday')

0        Weekday
1        Weekday
2        Weekend
3        Weekday
4        Weekday
          ...
23481    Weekend
23482    Weekend
23483    Weekend
23484    Weekend
23485    Weekend
Name: review_day, Length: 23486, dtype: object

### `np.select`

- Kadang untuk orang yang baru mengenal *programming*, konsep "function" maupun "if-else" sangatlah rumit untuk dipahami.


- Namun, tenang saja, memang akan membutuhkan proses yang tidak sebentar untuk terbiasa dengan konsep *programming* tersebut :)


- Jika Anda memiliki kebutuhan seperti di atas, namun merasa kurang nyaman dengan pendekatan "function" dan "if-else", Anda dapat menggunakan fungsi `select` dari library `numpy`:
```py
np.select(condlist, choicelist, default=0)
```
    - `condlist`: kondisi yang harus terpenuhi
    - `choicelist`: output untuk setiap kondisi yang terpenuhi
    - `default`: output jika tidak ada kondisi yang terpenuhi

- Contoh penggunaan `np.select` untuk satu kondisi:

In [19]:
import numpy as np

In [20]:
cond1 = reviews['review_day'].isin(["Saturday","Sunday"])
choice1 = "Weekend"

reviews['day_group']= np.select(condlist = [cond1],
                                choicelist = [choice1],
                                default = "Weekday")

reviews.head()

,review_date,review_hour,review_text,review_hour_group,review_hour_group2,review_day,day_group
0,2017-03-30 06:00:00,6,Absolutely wonderful - silky and sexy and comf...,12am to 7am,Morning,Thursday,Weekday
1,2017-03-10 22:00:00,22,Love this dress! it's sooo pretty. i happene...,4pm and 11pm,Night,Friday,Weekday
2,2017-03-04 10:00:00,10,I had such high hopes for this dress and reall...,12am to 7am,Morning,Saturday,Weekend
3,2017-03-03 14:00:00,14,"I love, love, love this jumpsuit. it's fun, fl...",8am to 3pm,Afternoon,Friday,Weekday
4,2017-12-14 06:00:00,6,This shirt is very flattering to all due to th...,12am to 7am,Morning,Thursday,Weekday

- Contoh penggunaan `np.select` untuk beberapa kondisi (2 atau lebih):

In [21]:
cond1 = reviews['review_day'].isin(["Saturday","Sunday"])
choice1 = "Weekend"

cond2 = reviews['review_day'].isin(["Wednesday", "Thursday"])
choice2 = "MidWeek"

reviews['day_group'] = np.select([cond1, cond2], [choice1, choice2], default = "Weekday")
reviews.head()

,review_date,review_hour,review_text,review_hour_group,review_hour_group2,review_day,day_group
0,2017-03-30 06:00:00,6,Absolutely wonderful - silky and sexy and comf...,12am to 7am,Morning,Thursday,MidWeek
1,2017-03-10 22:00:00,22,Love this dress! it's sooo pretty. i happene...,4pm and 11pm,Night,Friday,Weekday
2,2017-03-04 10:00:00,10,I had such high hopes for this dress and reall...,12am to 7am,Morning,Saturday,Weekend
3,2017-03-03 14:00:00,14,"I love, love, love this jumpsuit. it's fun, fl...",8am to 3pm,Afternoon,Friday,Weekday
4,2017-12-14 06:00:00,6,This shirt is very flattering to all due to th...,12am to 7am,Morning,Thursday,MidWeek

### Challenge 2

Anda telah berkenalan dengan banyak sekali cara untuk menghasilkan conditional value (value yang dihasilkan berdasarkan kondisi tertentu). Nah, sekarang coba perhatikan data customer berikut:

In [31]:
customer = pd.DataFrame({
    'name': ['Anita', 'Rose', 'Budi', 'Chandra', 'David', 'Alex', 'Saleh'],
    'age' : ['16', '30', '31', '45', '27','15', '60']
})
customer['age'] =  customer['age'].astype('int64')

customer

      name  age
0    Anita   16
1     Rose   30
2     Budi   31
3  Chandra   45
4    David   27
5     Alex   15
6    Saleh   60

Cobalah untuk mengelompokan umur customer tersebut berdasarkan beberapa kelompok umur sebagai berikut:
   - Kelompok 1: "15 - 23"
   - Kelompok 2: "23 - 45"
   - Kelompok 3: "45+"

In [36]:
def ageGrouping(age):
    if(age >= 15 and age <= 23):
        return "Kelompok 1"
    elif(age >= 23 and age <= 45):
        return "Kelompok 2"
    elif(age >= 45):
        return "Kelompok 3"

In [37]:
customer['age'].apply(ageGrouping)

0    Kelompok 1
1    Kelompok 2
2    Kelompok 2
3    Kelompok 2
4    Kelompok 2
5    Kelompok 1
6    Kelompok 3
Name: age, dtype: object